div{
    background-color: bisque
}

span{
    font-size: x-large;
}
#one{
    position:relative;
    background-color: blue;
}
#two{
    background-color: chartreuse;
}

#three{
    background-color: crimson;
}
.img1{
    height: 150px;
    width: 150px;
}

table{
    background-color: darkblue;
    width: 100%;
    }
a{
    color: white;
}